<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download File</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Download Your File</h1>
        <form action="/download" method="POST">
            <label for="link">Download Link:</label>
            <input type="text" id="link" name="link" required>
            
            <label for="password">Password (if set):</label>
            <input type="password" id="password" name="password">
            
            <button type="submit">Download</button>
        </form>
    </div>
</body>
</html>